---
const currentYear = new Date().getFullYear();
---

<footer class="site-footer">
  <p class="site-footer__credit">
    © <a href="https://github.com/s-theo" target="_blank" rel="noopener noreferrer">
      {currentYear} Theo All Rights Reserved.
    </a>
  </p>
</footer>
