---
const currentYear = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="site-footer__records" aria-label="网站备案信息">
      <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer">
        <img
          src="https://i.theojs.cn/logo/miit.webp"
          width="14"
          height="14"
          alt=""
          loading="lazy"
        />
        鄂ICP备2024060426号
      </a>
      <a href="https://beian.mps.gov.cn/" target="_blank" rel="noopener noreferrer">
        <img
          src="https://i.theojs.cn/logo/mps.webp"
          width="14"
          height="14"
          alt=""
          loading="lazy"
        />
        粤公网安备44200102445449号
      </a>
    </div>

    <p class="site-footer__credit">
      © <a href="https://github.com/s-theo" target="_blank" rel="noopener noreferrer">
        {currentYear} Theo All Rights Reserved.
      </a>
    </p>
  </div>
</footer>
